<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New Task Notification</h1>
    <p>Title: <%= @task.title %></p>
    <p>Description: <%= @task.description %></p>

    <p>Thank you for using our todo application!</p>
  </body>
</html>
